# Create .env.development.local or .env.production.local
# Add config as given below

API_KEY="YOUR_API_KEY"
DELIVERY_TOKEN="YOUR_DELIVERY_TOKEN"
ENVIRONMENT="YOUR_PUBLISHING_ENVIRONMENT"

# we can provide region if required otherwise us region is default
REGION="EXAMPLE eu"